# Amazon S3 Experiments

Before we get started make sure you configure the AWS cli from https://aws.amazon.com/cli/

## First let's show that we can copy a test file to our bucket

In [21]:
import os
import boto3

In [22]:
s3 = boto3.resource('s3')

In [23]:
data = open('test.txt','rb')

In [24]:
s3.Bucket('jpf-python-datastore').put_object(Key='text.txt', Body=data)

s3.Object(bucket_name='jpf-python-datastore', key='text.txt')

## Now lets show that we can write directly to a file

In [37]:
import boto3

In [38]:
data_string="Now is the time for all good men to come to the aid of their party."

In [39]:
s3 = boto3.resource('s3')

In [40]:
#obj = s3.Object('jpf-python-datastore', 'test.txt')
#obj.put(Body=data_string)

In [42]:
s3.Bucket('jpf-python-datastore').put_object(Key='text1.txt', Body=data_string)

s3.Object(bucket_name='jpf-python-datastore', key='text1.txt')

## Now lets save a dataframe

In [73]:
import boto3
import pandas as pd

In [74]:
# setup a dataframe with some data
columns=['index','First Name','Last Name','Gender','Dojo','Age','Rank','Feet','Inches','Height','Weight','BMI','Events','Weapons']
data=[(255,'Lucas','LeMay','Male','Parker',10,'Yellow',4,3,'4 ft. 3 in.',52,154,'2 Events - Forms & Sparring ($75)','None'),
      (194,'Jakie','Coleman','Male','Cheyenne',10,'Yellow',4,0,'4',60,156,'2 Events - Forms & Sparring ($75)','Weapons ($35)'),
      (195,'Katie','Coleman','Female','Cheyenne',12,'Yellow',4,0,'4',65,161,'2 Events - Forms & Sparring ($75)','Weapons ($35)')]
df=pd.DataFrame(data,columns=columns)
df

,index,First Name,Last Name,Gender,Dojo,Age,Rank,Feet,Inches,Height,Weight,BMI,Events,Weapons
0,255,Lucas,LeMay,Male,Parker,10,Yellow,4,3,4 ft. 3 in.,52,154,2 Events - Forms & Sparring ($75),None
1,194,Jakie,Coleman,Male,Cheyenne,10,Yellow,4,0,4,60,156,2 Events - Forms & Sparring ($75),Weapons ($35)
2,195,Katie,Coleman,Female,Cheyenne,12,Yellow,4,0,4,65,161,2 Events - Forms & Sparring ($75),Weapons ($35)

In [75]:
s3 = boto3.resource('s3')

In [76]:
data_string = df.to_csv()
data_string

',index,First Name,Last Name,Gender,Dojo,Age,Rank,Feet,Inches,Height,Weight,BMI,Events,Weapons\n0,255,Lucas,LeMay,Male,Parker,10,Yellow,4,3,4 ft. 3 in.,52,154,2 Events - Forms & Sparring ($75),None\n1,194,Jakie,Coleman,Male,Cheyenne,10,Yellow,4,0,4,60,156,2 Events - Forms & Sparring ($75),Weapons ($35)\n2,195,Katie,Coleman,Female,Cheyenne,12,Yellow,4,0,4,65,161,2 Events - Forms & Sparring ($75),Weapons ($35)\n'

In [77]:
s3.Bucket('jpf-python-datastore').put_object(Key='text.csv', Body=data_string)

s3.Object(bucket_name='jpf-python-datastore', key='text.csv')